.header{
  
    background-color: blue;
    background-image: url(../img/placa1.jpg);
}


.header img{
height: 100px;

}


.main{
    background-image: url(../img/mad2.jpg);
    background-size: cover;
}

.estilo{

    background-color: black;
}

.articulos iframe{
    background-color: blue;
    height: 100%;
    width: 100%;
}


.footer{
    background-color: black;
}


